@model Spendix.Web.ViewModels.Home.DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";

    var random = new Random();
}

@section Styles {
}

@section Scripts {
    <partial name="_HandlebarsScripts" />
    <script src="~/lib/Chart.js/Chart.min.js"></script>
    <environment include="Development">
        <script src="~/js/views/home/dashboard.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/views/home/dashboard.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript">

        var chartLabels = [];
        var chartData = [];
        var chartColors = [];

    @foreach (var d in Model.ChartData)
    {
        @:chartLabels.push('@d.Label');
        @:chartData.push('@d.Amount');
        @:chartColors.push('@string.Format("#{0:X6}", random.Next(0x1000000))');
    }
    </script>
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h4 mb-0 text-gray-800">Dashboard</h1>
</div>

<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <select class="form-control" id="bankAccountId" asp-items="@Model.BankAccountSelectList">
                <option value="">All Accounts</option>
            </select>
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <select class="form-control" id="range" asp-items="@Model.RangeSelectList">
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Income</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalIncome.ToString("C")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Expenses</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalExpenses.ToString("C")</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Expenses by Category</h6>
            </div>
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="expensesByCategoryChart"></canvas>
                </div>
                @*<hr>*@
            </div>
        </div>
    </div>
</div>