@model Spendix.Web.ViewModels.BankAccountTransactions.TransactionsViewModel
@{
    ViewData["Title"] = Model.BankAccount.Name;
    ViewData["PageHeader"] = Model.BankAccount.Name;
}

@section Styles {
}

@section Scripts {
    <environment include="Development">
        <script src="~/js/views/transaction/transactions.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/views/transaction/transactions.js" asp-append-version="true"></script>
    </environment>
}

<div class="row">
    <div class="col-12">
        <div class="card card-outline-info">
            <div class="card-body">
                <h6 class="card-title">Add Transaction</h6>
                <hr>
                <form id="transactionForm" asp-controller="Transaction" asp-action="SaveTransaction" asp-route-bankAccountId="@Model.BankAccount.BankAccountId" method="post">
                    <input type="hidden" id="BankAccountTransactionId" name="BankAccountTransactionId" value="@Model.SelectedBankAccountTransaction?.BankAccountTransactionId" />
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Type</label>
                                    <select asp-items="@Model.TransactionTypeSelectList" id="TransactionType" name="TransactionType" class="form-control custom-select"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" id="Date" name="Date" class="form-control datepicker" placeholder="Date" value="@Model.SelectedBankAccountTransaction?.TransactionDate.ToShortDateString()" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="Amount" name="Amount" class="form-control" placeholder="Amount" value="@Model.SelectedBankAccountTransaction?.Amount.FormatCurrency()" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Payee</label>
                                    <input type="text" id="Payee" name="Payee" class="form-control" placeholder="Payee" maxlength="200" value="@Model.SelectedBankAccountTransaction?.Payee" autocomplete="off">
                                </div>
                            </div>
                            <div class="col-md-4 paymentDepositControls">
                                <div class="form-group">
                                    <label class="control-label">Category</label>
                                    <select class="form-control custom-select" id="Category" name="Category"></select>
                                    <br />
                                    <a asp-controller="Category" asp-action="Categories" class="float-right">edit categories</a>
                                </div>
                            </div>
                            <div class="col-md-4 paymentDepositControls">
                                <div class="form-group">
                                    <label class="control-label">Sub Category <small>(optional)</small></label>
                                    <select class="form-control custom-select" id="SubCategory" name="SubCategory">
                                        <option value="">Select One</option>
                                    </select>
                                    <br />
                                    <a asp-controller="Category" asp-action="Categories" class="float-right">edit sub categories</a>
                                </div>
                            </div>
                            <div class="col-md-8 transferControls" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label">Bank Account</label>
                                    <select class="form-control custom-select" id="TransferBankAccountId" name="TransferBankAccountId" asp-items="Model.TransferToBankAccountsSelectList"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions float-right">
                        <button type="submit" class="btn btn-primary" id="saveButton"> <i class="fa fa-check"></i> Save</button>
                        <button type="button" class="btn btn-secondary">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="card mt-4">
            <div class="card-body">
                <h6 class="card-title">Transactions</h6>
                <hr>
                <div class="table-responsive">
                    <table id="transactionsTable" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Payee</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Amount</th>
                                <th>Balance</th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transactionBalance in Model.TransactionBalances)
                            {
                                <tr>
                                    <td>@transactionBalance.transaction.TransactionDate.ToShortDateString()</td>
                                    <td>@transactionBalance.transaction.Payee</td>
                                    <td>
                                        @if (transactionBalance.transaction.TransferToBankAccountId.HasValue)
                                        {
                                            @:Transfer to @transactionBalance.transaction.TransferToBankAccount.Name
                                        }
                                        else if (transactionBalance.transaction.TransferFromBankAccountId.HasValue)
                                        {
                                            @:Transfer from @transactionBalance.transaction.TransferFromBankAccount.Name
                                        }
                                        else
                                        {
                                            @:@transactionBalance.transaction.BankAccountTransactionCategory?.Name
                                        }
                                    </td>
                                    <td>@transactionBalance.transaction.BankAccountTransactionSubCategory?.Name</td>
                                    <td>@transactionBalance.transaction.Amount.FormatCurrency()</td>
                                    <td>@transactionBalance.balance.FormatCurrency()</td>
                                    @*<th>
                                            <a class="waves-effect waves-dark" title="Edit Transaction" asp-controller="BankAccount" asp-action="Transactions" asp-route-bankAccountId="@Model.BankAccount.BankAccountId" asp-route-bankAccountTransactionId="@transactionBalance.transaction.BankAccountTransactionId">
                                                <i class="mdi mdi-pencil-box-outline"></i>
                                            </a>
                                            <a class="waves-effect waves-dark" title="Delete Transaction" href="javascript:void(0)">
                                                <i class="mdi mdi-delete"></i>
                                            </a>
                                        </th>*@
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td>Opening Balance</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>@Model.BankAccount.OpeningBalance.FormatCurrency()</td>
                                @*<td></td>*@
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>